/* Variables */

/* Global */

// Typeicons Path
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// Colors
$logo-font-color: #0f67b2;
$cross-font-color: $logo-font-color;

// Typography
$logo-font: 'Leckerli One', cursive;
$font-family-sans-serif:  Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !default;


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


// Text Sizes
$logo-font-size: 5em;
$navbar-logo-font-size: 2em;

// Line Heights
$header-identity-line-height: 40px;

// Borders
$header-border-bottom: 3px solid #e5e5e5;

//Padding





/* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) { ... }
$max-width-sm: 750px;

// Margins
$header-margin-bottom: 30px;
$header-identity-margin: 27px 0 0 0;
$service-why-margin-top: 5px;




/* Medium devices (desktops, 992px and up) */
//@media (min-width: @screen-md-min) { ... }
$max-width-md: 980px;

// Text Align
$header-logo-text-alight: left;
$header-identity-text-align: right;





/* Large devices (large desktops, 1200px and up) */
//@media (min-width: @screen-lg-min) { ... }
$max-width-lg: 1170px;

/*** END: Media Query Specific Variables ***/
