// import variables
@import                 "_variables.scss";

//import Leckerli One (logo font) and Typography font
@import                 url(https://fonts.googleapis.com/css?family=Lato|Leckerli+One);

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

///// FIXED COMPONENTS
.browsehappy {
  margin:               0.2em 0;
  background:           #ccc;
  color:                #000;
  padding:              0.2em 0;
}

// Centers a component vertically and horizontally
.btn-current-project {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
/*******************************************************
* DO NOT PLACE VALUES BELOW THIS LINE - ONLY VARIABLES *
*******************************************************/
/* Responsive: Portrait tablets and up */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.header {
  border-bottom:        $header-border-bottom;

  .logo {
    font-family:        $logo-font;
    font-size:          $logo-font-size;
    color:              $logo-font-color;
  }

  .identity h2 {
    margin-top:         0;
  }
}

.navbar {
  .logo {
    font-family:        $logo-font;
    font-size:          $navbar-logo-font-size;
    color:              $logo-font-color;
  }
}

/* Custom page footer */
footer {
  padding-top:          19px;
  color:                #777;
  border-top:           1px solid #e5e5e5;

  .cross {
    color:              $cross-font-color;
  }

  .service-why {
    margin-top:         $service-why-margin-top;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width:      $screen-sm-min) {

  .container {
    max-width:          $max-width-sm;
  }

  /* Space out the masthead */
  .header {
    margin-bottom:      $header-margin-bottom;

    .identity {
      p {
        margin:         $header-identity-p-margin;
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:      $screen-md-min) {

  .container {
    max-width:          $max-width-md;
  }

  .header {
    .logo {
      text-align:       $header-logo-text-alight;
    }
    .identity {
      text-align:       $header-identity-text-align;
    }

    .identity h2 {
      margin:           $header-identity-margin;
      line-height:      $header-identity-line-height;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:      $screen-lg-min) {

  .container {
    max-width:          $max-width-lg;
  }
}
